<% if(typeof errors != 'undefined') { %>
    <div class="message_alert">
        <% errors.forEach(function(error) { %>
            <%= error.msg %><br>
        <% }); %>
    </div>
<% } %>

<% if(success_msg != '') { %>
    <div class="message_alert">
        <%= success_msg %>
    </div>
<% } %>

<% if(user_alert != '') { %>
<div class="user_alert">
    <div class="check icon"></div> <%= user_alert %>
</div>
<% } %>

<% if(user_error != '') { %>
<div class="user_error">
    <%= user_error %>
</div>
<% } %>

<% if(error_msg != '') { %>
    <div class="message_alert">
        <%= error_msg %>
    </div>
<% } %>

<% if(error != '') { %>
    <div class="message_alert">
        <%= error %>
    </div>
<% } %>